@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rubik&display=swap');
nav{
    padding: 15px;
    color: white;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    cursor: grab;
}